@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
input,
button {
  outline: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}
input::placeholder {
  color: hsl(0, 0%, 75%);
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

body {
  color: hsl(243, 87%, 12%);
  margin: 0;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  max-width: 100%;
  max-width: 1200px;
}

header {
  padding: 3rem;
}

.flexbox {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.flexbox > div {
  flex: 1;
}

nav {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav .bars {
  width: 45px;
  height: 45px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}

.bars span {
  display: block;
  height: 5px;
  width: 100%;
  background-color: hsl(243, 87%, 12%);
  margin-bottom: 0.4rem;
}

.bars span:nth-child(2) {
  width: 50%;
}

.bars span:last-child {
  margin: 0;
}

.bars:hover span {
  width: 100%;
  transition: 0.2s ease-in-out;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav > ul > li {
  margin-left: 2.5rem;
}

nav ul a {
  color: hsl(243, 87%, 12%);
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

form {
  display: flex;
}
header .flexbox {
  margin-top: 6rem;
}
header input {
  flex: 0.5;
  border: 1px solid#8b8995;
  border-radius: 4px;
  padding: 0.8rem;
}

button {
  border: 1px solid hsl(224, 93%, 58%);
  background-color: hsl(224, 93%, 58%);
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  padding: 0.8rem;
  flex: 0.3;
  margin-left: 0.8rem;
}

.imgwrapper {
  margin-left: 1.2rem;
}

.light-bluebox {
  background-color: hsl(240, 75%, 98%);
  margin-top: 6rem;
  padding: 3rem;
  position: relative;
}

.light-bluebox::before {
  content: "";
  background-image: url("../images/bg-curve-desktop.svg");
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -60px;
  left: 0;
  height: 60px;
  width: 100%;
}
.light-bluebox a {
  color: #3da08f;
  border-bottom: 1px solid #3da08f;
  padding-bottom: 4px;
}

.light-bluebox a > img {
  margin-top: 2px;
}

.textimonial-wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1.4rem;
  width: 80%;
}

.user {
  display: flex;
  align-items: center;
}
.user .imgwrapper {
  margin: 0;
}
.user img {
  border-radius: 50%;
  margin-right: 0.7rem;
  height: 40px;
  width: 40px;
}
.user h4 {
  margin: 0;
}

.bluebox {
  background-color: hsl(238, 22%, 44%);
  color: #fff;
  padding: 4rem 3rem;
}

.bluebox form {
  flex-direction: column;
  margin-left: 1.2rem;
}

.bluebox form input {
  flex: 1;
  border: 1px solid#8b8995;
  border-radius: 4px;
  padding: 0.8rem;
}

.bluebox form button {
  margin: 1rem 0;
  width: 50%;
}

footer {
  background-color: hsl(243, 87%, 12%);
  color: #fff;
  padding: 4rem 3rem;
}

footer .flexbox {
  align-items: flex-start;
}
footer ul {
  flex: 1;
}
footer ul li {
  margin-bottom: 20px;
}

footer .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul a {
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  height: 40px;
  width: 40px;
}

footer .attribution {
  text-align: center;
}

footer .attribution a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  header {
    padding: 2rem 3rem;
  }

  nav .bars {
    display: flex;
  }

  nav ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    width: 100%;
    padding: 2rem 0;
  }

  nav ul.show {
    flex-direction: column;
    border: 1px solid #f0f0f0;
    visibility: visible;
    opacity: 1;
  }
  nav ul li {
    margin: 0;
    padding: 0.8rem 0;
    width: 100%;
  }
  .logo {
    width: 120px;
  }

  header .flexbox,
  .light-bluebox .flexbox {
    flex-direction: column;
    flex-flow: column-reverse;
  }

  header form {
    flex-direction: column;
  }

  header form input {
    flex: 1;
    margin-top: 2rem;
  }

  header form button {
    margin: 1.2rem 0;
  }

  .light-bluebox::before {
    content: "";
    background-image: url("../images/bg-curve-mobile.svg");
    height: 80px;
    top: -80px;
  }

  .textimonial-wrapper {
    width: 100%;
    text-align: left;
  }

  .bluebox .flexbox {
    flex-direction: column;
  }

  .bluebox .flexbox > div {
    width: 100%;
  }

  .bluebox form {
    margin: 0;
  }

  .bluebox form button {
    width: 100%;
  }

  footer {
    text-align: left;
  }
  footer img {
    margin-bottom: 1.2rem;
  }

  footer .flexbox {
    flex-direction: column;
  }

  footer .social-links {
    text-align: center;
    width: 100%;
  }
}
